.nav {
  padding: 20px 0;
  height: 100%;
  overflow: auto;
}
.nav ul {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}

.nav li {
  font-size: 14px;
  position: relative;
}

.nav ul li a {
  color: #bee2ff;
  text-decoration: none;
  display: block;
  padding: 10px 40px 10px 20px;
}

.nav ul li a:hover {
  /* background-color: #638cab; */
}

.nav ul li li a {
  /* background: url("../../assets/arrow.svg") no-repeat 8px 15px; */
  background-size: 8px;
  padding-left: 25px;
}

.nav ul li ul li a {
  /* background-color: transparent !important; */
}

.nav > ul > li > a {
  font-size: 1em;
}

.nav li ul {
  max-height: 0px;
  margin-left: 10px;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.nav > ul > li::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 15px;
  font-family: "Helvetica Neue";
  /* background: url("../../assets/arrow.svg") no-repeat left top; */
  width: 12px;
  height: 12px;
}

.nav > ul > li.active::after {
  /* background-image: url("../../assets/arrow-down.svg"); */
}

.nav > ul > li.active::before {
  content: "";
  position: absolute;
  width: 3px;
  height: calc(100% - 25px);
  background-color: #bee2ff;
  left: 0;
  top: 15px;
}

.nav > ul > li.active > ul {
  max-height: 500px;
}

.nav > ul > li.active > a {
  color: #fff;
}

.nav > ul > li > ul > li.active a {
  color: #fff;
}
